html5
doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/plantlist.css')
		script(src='/javascripts/plantdb.js')
	body
		#content
			h1= title
			- if (typeof(error) !== 'undefined')
				#error.error= error
			- else
				table
					colgroup
							col(span='1', style='width: 20em;')
							col(span='1')
							col(span='1', style='width: 1px;')
					thead
						tr
							th
								a(href='#', onclick='sortByCol("name")') Plant
							th
								a(href='#', onclick='sortByCol("weight")') Weight (kg)
							th
					tbody
						for plant in data
							tr(id='row' + plant.id)
								td(id='name' + plant.id)= plant.name
								td(id='weight' + plant.id)= plant.weight
								td
									a.button(href='#', onclick='deleteItem(' + plant.id + ')') x
									a.button(href='#', onclick='editItem(' + plant.id + ')') e
						tr#rownew
							td(id='namenew')
							td(id='weightnew')
							td
					tfoot
						tr
							th(colspan=2)
								form(action='#', method='get', id='navForm')
									div.flexbox
										div.flex
											| Show only:
											select(name='name', onchange='submitNavForm()')
												option(value='', selected=name=='')= (All)
												for pname in names
													option(value=pname, selected=name==pname)= pname
										div.flex
											| Sort by:
											select(name='sort', onchange='submitNavForm()')#sortcol
												for fname in fields
													option(value=fname, selected=sort==fname)= fname
										div.flex
											| Page:
											input(name='page', type='hidden', id='pagenum', value=page)
											input(name='pagesize', type='hidden', id='pagesize', value=pagesize)
											a(href='#', onclick='doPage(1)').hspace <<
											- for (var pnum = page - 1; pnum <= page + 1; pnum++)
												- if (pnum >= 1 && pnum <= pagecount)
													a(href='#', onclick='doPage(' + pnum + ')', class=pnum==page?'active':'').hspace= pnum
											a(href='#', onclick='doPage(' + pagecount + ')').hspace >>
										div.flex
											| Items per page:
											- var psizes = [1, 5, 10, 25, 50, 100];
											- each psize in psizes
												a(href='#', onclick='doRepage(' + psize +')', class=psize==pagesize?'active':'').hspace= psize
							th
								a.button(href='#', onclick='appendItem()') new
			#editors
				#weighteditor
					input(type='text').editbox#weighteditbox
					a.button(href='#', onclick='endEdit(true)') save
					a.button(href='#', onclick='endEdit(false)') cancel
				#nameeditor
					input(type='name').editbox#nameeditbox
